<!DOCTYPE html>
<html lang="en">
{% extends 'layouts/header.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Sesion</title>
</head>
{%block content%}
<body>
    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <form method="POST" class="card card-body">
                    <h1>Sing up</h1>
                    {{error}}
                    {% csrf_token %}
                    {{form}}
                <button class="btn btn-primary btn-lg">
                    Registrar
                </button>
                </form>
            </div>
        </div>
    </main>
</body>
{%endblock%}
</html>